@model List<MyPortfolio.DAL.Entities.SocialMedia>
<div class="d-flex justify-content-center fs-2 gap-4 flex-wrap">
    @foreach (var item in Model)
    {
        <a class="text-gradient" href="@item.SocialMediaUrl" target="_blank" style="flex: 0 0 auto;">
            <i class="@item.SocialMediaIcon"></i>
        </a>
    }
</div>
