@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Admin Paneli</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="~/Ready-Bootstrap-Dashboard-master/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="~/Ready-Bootstrap-Dashboard-master/assets/css/ready.css">
    <link rel="stylesheet" href="~/Ready-Bootstrap-Dashboard-master/assets/css/demo.css">
    <link rel="icon" href="https://i.hizliresim.com/4hk8y29.jpg" type="image/x-icon" />
</head>
<body>
    <div class="wrapper">
        <div class="main-header">
            <div class="logo-header">
                <a  class="logo">
                    Admin Paneli
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
            </div>
            <nav class="navbar navbar-header navbar-expand-lg">
                <div class="container-fluid">
                    
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                     
                        
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="https://i.hizliresim.com/4hk8y29.jpg" alt="user-img" width="36" class="img-circle"><span>Ömer Faruk</span></span> </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <div class="user-box">
                                        <div class="u-text">
                                        </div>
                                    </div>
                                </li>
                                <a class="dropdown-item" href="/Default/Index">Siteye Git</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Admin/Index"><i class="ti-settings"></i>Şifre Değiştir</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Login/LogOut"><i class="fa fa-power-off"></i>Çıkış Yap</a>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="sidebar">
            <div class="scrollbar-inner sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="https://i.hizliresim.com/4hk8y29.jpg">
                    </div>
                    <div class="info">
                        <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                            <span>
                                Ömer Faruk Gündüz
                                <span class="user-level">Admin</span>
                            </span>
                        </a>
                        <div class="clearfix"></div>

                    </div>
                </div>
                <ul class="nav">
       
                    <li class="nav-item">
                        <a href="/Feature/Index">
                            <i class="la la-th"></i>
                            <p>Öne Çıkan(Slogan)</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/About/AboutList">
                            <i class="la la-table"></i>
                            <p>Hakkımda</p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/Experience/ExperienceList">
                            <i class="la la-keyboard-o"></i>
                            <p>Deneyimler</p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/Education/EducationList">
                            <i class="la la-bell"></i>
                            <p>Eğitim</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Project/ProjectList">
                            <i class="la la-bell"></i>
                            <p>Projeler</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Skill/SkillList">
                            <i class="la la-font"></i>
                            <p>Yeteneklerim</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/CVUrl/Index">
                            <i class="la la-font"></i>
                            <p>CV Url Güncelleme</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/SocialMedia/SocialMediaList">
                            <i class="la la-font"></i>
                            <p>Sosyal Medyalar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Message/Inbox">
                            <i class="la la-font"></i>
                            <p>Gelen Kutusu</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Statistic/Index">
                            <i class="la la-font"></i>
                            <p>İstatistikler</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Login/LogOut">
                            <i class="la la-font"></i>
                            <p>Çıkış Yap</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="icons.html">
                            <i class="la la-fonticons"></i>
                            <p>Icons</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/core/popper.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/core/bootstrap.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/plugin/chartist/chartist.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="~/Ready-Bootstrap-Dashboard-master/assets/js/ready.min.js"></script>
</html>

