@model List<MyPortfolio.DAL.Entities.Project>

<div class="container px-5 mb-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projeler</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Project Card 1-->
            @foreach (var item in Model)
            {
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">@item.ProjectName</h2>
                                <p>@item.ProjectDescription</p>
                                <a href="@item.ProjectLink" target="_blank" class="btn btn-primary mt-3">Projeye Git</a>
                            </div>
                            <img class="img-fluid" src="@item.Projectİmage" alt="Proje Görseli" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
