@model List< MyPortfolio.DAL.Entities.DownloadCV>
@foreach (var item in Model)
{
<div class="d-flex align-items-center justify-content-between mb-4">
    <h2 class="text-primary fw-bolder mb-0">Deneyimler</h2>
    <!-- Note: Set the link href target to a PDF file within your project-->
        <a class="btn btn-primary px-4 py-3" href="@item.DownloadUrl" download="ÖmerFarukGündüzCV.pdf">
        <div class="d-inline-block bi bi-download me-2"></div>
        Özgeçmişi İndir
    </a>
</div>
}