@model Education

@{
    ViewData["Title"] = "CreateEducation";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Eğitim Bilgisi</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Deneyim Eğitim Bilgisi Sayfası</div>
					</div>
					<div class="card-body">

						<form method="post">
							<label>Okul Adı</label>
							<input type="text" asp-for="SchoolName" class="form-control" />
							<br />
							<label>Bölümü</label>
							<input type="text" asp-for="Department" class="form-control" />
							<br />
							<label>Tarih Aralığı</label>
							<input type="text" asp-for="Date" class="form-control" />
							<br />
							<label>Açıklama</label>
							<textarea rows="4" class="form-control" asp-for="Description"></textarea>
							<br />
							<button class="btn btn-primary">Eğitimi Ekle</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>