@model SocialMedia
@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Views/Layout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Deneyimler</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Deneyim Güncelleme Sayfası</div>
					</div>
					<div class="card-body">

						<form method="post">
							<input type="hidden" asp-for="SocialMediaId">
							<label>Sosyal Medya Adı</label>
							<input type="text" asp-for="SocialMediaName" class="form-control" />
							<br />
							<label>Sosyal Medya Url</label>
							<input type="text" asp-for="SocialMediaUrl" class="form-control" />
							<br />
							<label>Sosyal Medya İkonu</label>
							<input type="text" asp-for="SocialMediaIcon" class="form-control" />
							<br />
							<button class="btn btn-primary">Güncelle</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
